/* app.css */


body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #333; 
}



h2 {
    font-size: 24px;
    color: #e1377e; 
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
}

img {

    height: 500px;
    width: 400px;
    border-radius: 50%;
}